# Global
POST_SCRIPT_API=""
DELAY_MINUTES=5
CHECK_INTERVAL_SECONDS=30

# Facebook
PAGE_URL_FB=""
PAGE_WAIT_SECONDS_FB=5

# Youtube
PAGE_URL_YT=""
PAGE_WAIT_SECONDS_YT=5

# X
PAGE_URL_X=""
PAGE_WAIT_SECONDS_X=5